body {
    width: 500px;
    background-color: #ecf0f1;
}
.nav li {
    padding: 10px;
}
.color {
    cursor: pointer;
}
.color-container ul li {
    height: 80px;
    width: 100px;
}
.clip{
    text-align: center;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
.clip:focus{
    border-bottom:2px solid #78788c
}

a, button{
    border-radius: 0 !important;
}


.drop-btn, .drop-btn img {
    height: 40px;
    width: 40px;
    color: #95a5a6;
    cursor: pointer;
    margin: 5px;
}
.drop-item {
   display: block;
   width: 100%;
}
.drop-menu {
    display: none;
}